<p>Hello {{name}},</p>
<p>Thank you for registering with our service. Please click the link below to confirm your registration:</p>
<p><a href="{{confirmationLink}}">Confirm Registration</a></p>
<p>If you didn't register for our service, please ignore this email.</p>